<% alias MySiteWeb.Components.Bulma.Menu %>
<Menu.root>
  <Menu.label text="Blogs" />
  <Menu.list>
  <Menu.item text="Tech">
    <Menu.item text="Programming" />
    <Menu.item text="Infrastructure" />
    <Menu.item text="Daily struggles" />
  </Menu.item>
  <Menu.item text="Projects" />
  </Menu.list>
</Menu.root>